<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title text-center">残業申請</h1>
    </div>
    <div class="modal-body">
      <%= form_with(model: @attendance, url: update_overtime_request_user_attendance_path(@user, @attendance), method: :patch, local: true, method: :patch) do |f| %>
        <table class="table table-bordered table-condensed table-striped", id="table-attendances">
          <thead>
            <th class="text-center">日付</th>
            <th class="text-center">曜日</th>
            <th class="text-center">終了予定時間</th>
            <th class="text-center">翌日</th>
            <th class="text-center">業務処理内容</th>
            <th class="text-center">指示者確認㊞</th>
          </thead>
        
          <tbody>
              <td class="text-center"><%= l(@attendance.worked_on, format: :short) %></td>
              <td class="text-center"><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
              <td class="text-center"><%= f.time_field :scheduled_end_time_temporary, include_blank: true, class: "form-control" %></td>
              <td class="text-center"><%= f.check_box :next_day %></td>
              <td class="text-center"><%= f.text_field :work_details_temporary, class: "form_control" %></td>
              <td class="text-center"><%= f.collection_select :overtime_superior_confirmation, @superiors, :id, :name, include_blank: "選択してください", class: "form-control" %></td>
          </tbody>
        </table>
          <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>